@model nhH60Customer.Dtos.ShoppingCartDTO


<main>

    <div class="messages">
        @if (TempData["ErrorMessage"] != null) {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>

    <div class="messages">
        @if (TempData["SuccessMessage"] != null) {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>

    <h1 class="text-center">Shopping Cart <img src="~/images/cart.svg" id="cart-image" alt="shopping cart icon" /></h1>

    @if (Model != null) {

        @if (Model.CartItems.Count == 0) {
            <h3 class="text-center">Your Karate House shopping cart is empty</h3>
        } else {
            <table class="table table-bordered bg-white" id="cart">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cart Item Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remove From Cart</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems) {
                        @await Html.PartialAsync("_CartItem", item)
                    }
                </tbody>
            </table>

            <a title="Checkout" href="@Url.Action("Create", "Order", new { id = Model.CustomerId  })" class="btn" id="checkoutCartBtn">Checkout</a>
        }
    }


</main>