@model nhH60Customer.Models.ShoppingCart


<main>


    @if (Model.CartItems == null) {
        <p>Your shopping cart is empty</p>
    } else {
        <div>
            @foreach (var item in Model.CartItems) {
                <div>
                    @item.Product.Description
                </div>
            }
        </div>
    }



</main>