@model nhH60Customer.Dtos.ShoppingCartDTO


<main>


    @if (Model.CartItems == null) {
        <p>Your shopping cart is empty</p>
    } else {
        <div>
            @foreach (var item in Model.CartItems) {
                <div>
                    @item.Description
                </div>
            }
        </div>
    }

</main>