@using Microsoft.AspNetCore.Identity
@inject SignInManager<nhH60Customer.Areas.Identity.Data.nhH60CustomerUser> SignInManager
@inject UserManager<nhH60Customer.Areas.Identity.Data.nhH60CustomerUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./Images/faviconImage.png" rel="shortcut icon" type="image/jpg" />
    <title>Karate House</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <p id="img">
            <img src="~/images/logo.png" alt="Karate House logo" id="logo-img">
        </p>
        <nav id="navigation">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Product" asp-action="Index">View Products</a>
                </li>
                <li>
                    <a asp-controller="ProductCategory" asp-action="Index">View Product Categories</a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User)) {
                <div id="profile-and-logout-section">
                    <span id="name">
                        <img src="~/Images/person-circle.svg" alt="Person Icon" id="nameIcon" />
                        Welcome @User.Identity.Name
                    </span>
                    <a class="btn btn-danger NavBtns" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                </div>
            }

            @*Source: https://icons.getbootstrap.com/icons/person-circle/*@
        </nav>
    </header>
    <div class="container-page">
        <main class="content">
            @RenderBody()
        </main>
        <footer>
            <p id="copyright">&copy; 2021 - Karate House - All Rights Reserved</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
