<div class="messages">
    @if (TempData["ErrorMessage"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

<div class="messages">
    @if (TempData["SuccessMessage"] != null) {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
</div>