body{
    background: rgba(192, 192, 192, 0.9);
}

/*Nav*/

header{
    display: grid;
    grid-template-columns: 1fr 12fr;
}

#img{
    z-index: 1;
    transform: skew(-20deg);
    background-color: black;
    border-left: 50px solid transparent;
    margin-left: -1em;
}

#logo-img{
    width: 20em;
    height: 5em;    
}

#navigation ul {
    list-style-type: none;
    background-color: white;
    width: max-content;
    padding: 1em;
    margin: 0.8em 0 .8em -2em;
    border-left: 50px solid transparent;
    transform: skewX(-20deg);
}

#navigation ul li {
    display: inline;
    padding: 2em;
}

#navigation ul li a{
    text-decoration: none;
    color: black;
}

.container-page{
    position: relative;
    min-height: 100vh;
}

.content{
    margin-top: 3em;
    padding-bottom: 2.5em;
}

#title{
    font-size: 4em;
    font-weight: bold;
}

#karate-kick-img{
    width: 30em;
    height: 40em;
}

.input-group{
    width: 70%;
    margin: auto;
}

#profile-and-logout-section{
    float: right;
    margin-top: -4em;
    margin-right: 2em;
}

#name{
    margin-right: 1em;
}

#nameIcon {
    padding: 0 .6em .1em 0;
}

/*Home page*/

#home-page-content{
    display: grid;
    grid-template-columns: 1fr;
}

#home-page-content #home-image{
    width: 70%;
}


/*Products*/

.container-products{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.2em;
    margin-top: 2em;
    margin-bottom: 4em;
}

.container-products .card-img-top{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-products .card-title{
    font-size: 1em;
    font-weight: bold;
}

#inStock, #outOfStock{
    font-size: 1.6em;
}


/*footer*/


footer{
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3em;
}

footer p{
    color: white;
}


@media all and (min-width: 768px) {
    .content{
        margin-left: 3em;
        margin-right: 3em;
    }

    /*Home page*/

    #home-page-content{
        grid-template-columns: 2fr 1fr;
    }

    #home-page-content img{
        justify-self: center;
    }

    .input-group{
        margin: revert;
        min-width: 20%;
        max-width: 35%;
    }

    /*Products and cart*/

    #container-products-and-cart {
        grid-template-columns: 8fr 4fr;
        grid-gap: 3em;
    }

    .container-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 992px)
{
    .container-products {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media all and (min-width: 1200px)
{
    .container-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}