

<main>
    <div class="jumbotron jumbotron-fluid bg-green order-confirmed-message" style="border-radius: 15px; padding: 5em;">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Your Order has been Confirmed</h1>
            <p class="lead">Thank you for shopping at the Karate House. Your order is being processed and will be delivered in the next few weeks.</p>
        </div>
        <a title="Back To Shopping" href="@Url.Action("Index", "Product")" class="btn" style="font-size: 1.4em; margin-top: 1em; border-radius: 5px;">Back To Shopping</a>
    </div>

</main>
