@model IEnumerable<nhH60Customer.Models.ProductCategory>


<main>

    <h1 class="text-center">Product Categories</h1>


    <ul>
        @foreach (var category in Model) {
            <li>@category.ProdCat</li>
        }
    </ul>

</main>