

<div class="text-left" id="home-page-content">
    <img src="~/images/karate-kick.png" alt="karate kick" id="karate-kick-img" />
    <p id="title">KARATE STORE</p>
    @*Source: https://unsplash.com/photos/js6cGb_SMKk*@
</div>
