@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Karate House Store</h1>
    <br />
    <p id="home-page-description">
        Welcome to the <span class="font-weight-bold">Karate House</span> you can look at the
        <a title="View Products" href="@Url.Action("Index", "Product")" class="home-page-links">products</a>,
        <a title="View Categories" href="@Url.Action("Index", "ProductCategory")" class="home-page-links">categories</a> and
        <a title="View Customers" href="@Url.Action("Index", "Customer")" class="home-page-links">customers</a>
        I have created for the <span class="font-weight-bold">Karate House</span> Store
    </p>
    <br />
</div>
